/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


/* Body */

body {
    background: #1b1b1b;
    animation: fadeInanimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInanimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23vh;
    padding: 20px;
    margin: auto;
    transition: all 2s;
}

header.active {
    height: 0;
}


/* Header > Image */

header img {
    position: relative;
    height: 100px;
    padding: 0 20px;
    transition: all 2s;
    z-index: 1;
}

header.active img {
    transform: translateX(90vw);
}


/* Header > heading */

header h1 {
    color: white;
    transition: all 1s;
}

header.active h1 {
    opacity: 0;
}


/* Table */

.main-table {
    position: relative;
    height: 73vh;
    margin: 10px;
    color: white;
    transition: all 1s;
    overflow-y: auto;
}

.main-table.active {
    height: 95vh;
}

.main-table .row {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-gap: 5px;
    place-items: center;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 17px;
}

.main-table .row .column {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-table .row:nth-child(2n+1) {
    background-color: rgb(66, 128, 42);
}

.main-table .row:nth-child(2n) {
    background-color: rgba(7, 7, 7, 0.3);
}

.main-table .row:first-child {
    position: sticky;
    top: 0;
    background-color: rgb(12, 12, 12);
    font-size: 20px;
}

.main-table .row:nth-child(2) {
    background: linear-gradient(to left, rgba(7, 7, 7, 0.3) 75%, gold);
}

.main-table .row:nth-child(3) {
    background: linear-gradient(to left, rgba(7, 7, 7, 0.3) 75%, silver);
}

.main-table .row:nth-child(4) {
    background: linear-gradient(to left, rgba(7, 7, 7, 0.3) 75%, rgb(204, 133, 0));
}

.main-table .row:last-child {
    position: sticky;
    bottom: 0;
    background-color: red;
    font-weight: bold;
}


/* Extra Scroll */

.extra-scroll {
    height: 10px;
}

.extra-scroll.active {
    display: none;
}


/* Media Queries */

@media screen and (max-width: 500px) {
    .main-table .row {
        font-size: 12px;
    }
    .main-table .row:first-child {
        font-size: 14px;
    }
}